.wrap{
    width: calc(100%-80px);
    height: 130px;
    background-color: #8C7161;
    font-size: 16px;
    color: white;
    padding: 20px 40px 10px;
}

.link{
    text-decoration: none;
    color: rgb(255, 255, 255)
}